doctype html

head
  title Sign In
  style
      include ../public/stylesheets/app.css

  body

  header
    h1 Sign in to Chat App
    - let messageTypes = Object.keys(expressFlash || {});
      if messageTypes.length > 0
        ul.err-msg
          each messageType in messageTypes
            each message in flash[messageType]
              li.flash(class=messageType)= message
    form(action="/signIn" method="post")
      dt
        label(for="username" class="username-label") Username:
      dd
        input(type="text" class="input" id="username" name="username")
      dt
        label(for="password" class="password-label") Password:
      dd
        input(type="password" class="input" id="password" name="password")

      input.button(type="submit" class="button" value="Login")
    a(href='/register') Create Account
