doctype html

head
  title Sign In
  style
      include ../public/stylesheets/app.css

body(id="signin-body")
  center-div(class="center-div")
    header(id="signin-body-header")
      h1 Chat App
      h2 Real-time communication 

    section
      form(action="/signIn" method="post" class="signin-form")
        dt
          label(for="username" class="username-label") Username:
        dd
          input(type="text" class="input" id="username" name="username")
        dt
          label(for="password" class="password-label") Password:
        dd
          input(type="password" class="input" id="password" name="password")

        input.button(type="submit" class="button" value="Login")
        

    br
    div
      button(id="demo-account-link" onclick="autofillDemoCreds()") Use Demo Account

    br
    div(class="links")
      a(href='/register') Create New Account

    

script.

  console.log('connected!')

  function autofillDemoCreds() {
    let demoUsername = "joe";
    let demoPassword = "Password1";

    let usernameField = document.getElementById("username");
    let passwordField = document.getElementById("password");

    usernameField.value = demoUsername;
    passwordField.value = demoPassword;
  }
