* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px;
  
  background-color: #fff5d1;
}

h1 {
  padding: 10px;
  display: inline-block;
}

#main-section {
  border: 5px solid gray;
  border-radius: 5px;
  padding: 15px;
}

#scrolling-chat {
  border: 3px solid black;
  border-radius: 5px;
  
  background-color: #a3c6ff
}

#scrolling-chat:empty {
  display: none;
}

ul {
  list-style: none;
}

li {
  padding: 5px;
}

#account-options {
  display: inline-block;
  float: right;
}

#account-options ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#account-options li {
  float: left;
  display: block;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: red;
}

.button {
  border: none;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: #AFF1A2;
}

.button:active {
  background-color: #84B27B;
}

#from-me {
  background-color: #bbd0fc;
}

#my-name {
  font-weight: bold;
}

#name {
  padding: 5px;
}

.input {
  min-width: 400px;
  padding: 5px;
}

#users-connected {
  float: right;
}